<div class="app">
    <h1>Angular2-Meteor - Angular Cli APP</h1>
    <demo></demo>

    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>
    <button (click)="forgotPassword()">Forgot</button>
    <button (click)="createDemo()">Create Demo</button>
    <p *ngIf="user">User: {{user.emails[0].address}}</p>
    <button (click)="throwServerError()">SERVER ERROR</button>
    <p>Server Response: {{serverResponse|json}}</p>
</div>
